<!DOCTYPE html>
<html lang="en">
<head>
  <title>CSI Website</title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Nunito:900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:900" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet"> 


  

</head>
<body style="max-width: 100%;
    overflow-x: hidden;">
  
  
 

  
   <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#003399;font-family: 'Nunito', sans-serif;border-bottom:solid 1px #003399">
  <div class="container-fluid">
    <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
      <a style="color:white" class="navbar-brand" href="/">CSI</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/allEvents"><strong>All Events</strong></a></li>
        <li><a href="/pastEvents"><strong>Past Events</strong></a></li>
        <li><a href="/gallery"><strong>Gallery</strong></a></li>
        <li><a href="/contact"><strong>Contact Us</strong></a></li>
         
        </ul>
         <ul class="nav navbar-nav navbar-right ">
           <%if(currentUser){%>
           <%if(currentUser.username === "Admin"){%>
        <li><a href="/AdminPortal"><strong>Admin Side</strong></a></li>
        <li><a href="/AddEvent"><strong>Add Events</strong></a></li>
        <li><a href="/uploadImage"><strong>Add Image</strong></a></li>
            <li><a class=" mr-2" href="/logout" >Log Out</a></li>
           <%}%>
        <%}%>
         <% if(!currentUser){%>
                   <li><a class=" mr-2" type="button"  data-toggle="modal" data-target=".bd-example-modal-lg">Register</a></li>
             <% }else{ %>
        <li><a class=" mr-2" href="/profile/<%=currentUser._id%>"><strong><%= currentUser.username%></strong></a></li>
                  <li><a class=" mr-2" href="/logout" >Log Out</a></li>
        
              <% } %>
           
      </ul>
    </div> 
  </div>
</nav> 
 
<!-- <script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
   -->
  
  
  
  
   
  
  <div class="row">
    
   <div id="header" class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
        style="background: linear-gradient(to right,#003399,black);padding-bottom:50px;">

    <h1 id="title1" style="font-family: 'Playfair Display', serif;
               text-align:center;
               color:white;
               margin-top:80px;
               font-size:50px;
               "><strong>Aldel Education Trust's</strong></h1>
       <h3 id="title2" style="font-family: 'Playfair Display', serif;
               text-align:center;
               color:rgba(256,256,256,0.8);
               font-size:35px;               
               margin-top:0px;
               "> St. John College of Engineering and Management</h3>
     
     <p id="title3" style="font-family: 'Playfair Display', serif;
               font-size:15px;            
               text-align:center;
               color:rgba(256,256,256,0.5);
               margin-top:0px;
               "> Approved by AICTE, DTE and Affiliated to the University of Mumbai, MSBTE, NAAC Accredited with Grade "A"
Department of Computer Engineering 
Computer Society of INDIA</p>
     
    </div>
    
    
    
    
    
    
<div id="mySidenav" class="sidenav">
  
       <a href="/AdminPortal" style="color:#93B9C8;font-family: 'Nunito', sans-serif;font-size:20px;">Class-wise</a>
       <a style="color:#93B9C8;font-family: 'Nunito', sans-serif;font-size:20px;"href="/eventWise">Event-wise</a>
<!-- <a href="/AdminPortal"
                                                                          style="font-family: 'Nunito', sans-serif;
                                                                                 font-size:20px;
                                                                                 
                                                                                 color:white"><p style="margin-top:10px;">
                                                                                <strong>All Student</strong> -->
  </a>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <a href="/feCE" style="font-family: 'Nunito', sans-serif;
                         font-size:20px;
                         color:white"><p><strong>F.E(Comps)</strong>
  </a> 
  <a href="/feIT"style="font-family: 'Nunito', sans-serif;
                        font-size:20px;
                        color:white"><p><strong>F.E(IT)</strong></a> </p>
  </a>
  <a href="/feEXTC"style="font-family: 'Nunito', sans-serif;
                          font-size:20px;
                          color:white"><p><strong>F.E(EXTC)</strong>
  </a>
  <a href="/seCE"style="font-family: 'Nunito', sans-serif;
                        font-size:20px;
                        color:white"><p><strong>S.E(Comps)</strong>
  </a> 
  <a href="/seIT"style="font-family: 'Nunito', sans-serif;
                        font-size:20px;
                        color:white"><p><strong>S.E(IT)</strong>
  </a> 
  <a href="/seEXTC"style="font-family: 'Nunito', sans-serif;
                          font-size:20px;
                          color:white"><p><strong>S.E(EXTC)</strong>
  </a>
  <a href="/teCE"style="font-family: 'Nunito', sans-serif;
                        font-size:20px;
                        color:white"><p><strong>T.E(Comps)</strong>
  </a> 
  <a href="/teIT" style="font-family: 'Nunito', sans-serif;
                         font-size:20px;
                         color:white"><p><strong>T.E(IT)</strong></a> </p>
</a>
  </div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
</div>





 
  
 <style>
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
  
  
    
    
    
    
    
    
  
<script>
    if($(window).width() < 767){
      $("p").css("font-size","11px")
         $("h1").css("font-size","30px")
         $("h3").css("font-size","20px")
         $("#header").css("padding-bottom","20px")
    }

  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "white";
}
</script>