
<% include ./partials/header %>



  
  
 


  
  <div class="row">
  
    <div  class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
      
      
     <p class="p" style="text-align:center;margin-top:70px"><span style="background-color:black;font-family: 'Nunito', sans-serif;
      font-size:12px;
      color:white;padding:10px">CONTACT CSI STUDENT BRANCH CO-ORDINATOR :</span></p> 
      
      <p style="text-align:center;margin-top:20px"><span style="font-family: 'Nunito', sans-serif;
      font-size:18px;
      padding:10px">Siddesh Bhagat</span>
      
      
      <br> <i class="fa fa-envelope"></i> siddheshb@sjcet.co.in<span style="font-family: 'Nunito', sans-serif;
      font-size:18px;
      padding:10px"></span></p>
    <p style="text-align:center;margin-top:40px"><span style="background-color:black;font-family: 'Nunito', sans-serif;
      font-size:18px;
      color:white;padding:10px">CONTACT DEVELOPERS :</span></p>
      
       <p style="text-align:center;margin-top:20px"><span style="font-family: 'Nunito', sans-serif;
      font-size:18px;
      padding:10px">Saurabh Pandey</span></p>
      
       <p style="text-align:center;margin-top:10px"><i class="fa fa-phone"></i> 8097448698<span style="font-family: 'Nunito', sans-serif;
      font-size:18px;
      padding:10px"></span>
      
      
        <i class="fa fa-envelope"></i> sp241930@gmail.com<span style="font-family: 'Nunito', sans-serif;
      font-size:18px;
      padding:10px"></span></p>
      
        <p style="text-align:center;margin-top:20px"><span style="font-family: 'Nunito', sans-serif;
      font-size:18px;
      padding:10px">Chirag Prajapati</span></p>
      
       <p style="text-align:center;margin-top:10px"><i class="fa fa-phone"></i> 7738189663<span style="font-family: 'Nunito', sans-serif;
      font-size:18px;
      padding:10px"></span>
      
      
       <i class="fa fa-envelope"></i> chiragprajapati781@gmail.com<span style="font-family: 'Nunito', sans-serif;
      font-size:18px;
      padding:10px"></span></p>
      
      
      
      </div>
      
  </div>


<div class="container"> 
  <div class="wrapper" style="text-align:center; "> <button class="button " id="show" style="border:2px solid #003399;
                                                                                              border-radius:5px">SJCEM CSI Members</button></div>
 
  <table class="table table-bordered" id="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Parth Jagdish Zalavadia</td>
        <td>Chair Person</td>
        
        
      </tr>
      <tr>
        
      <td>Vrutti Veniram Patel</td>
         <td>Co-Chair Person</td>
       
      </tr>
      
      <tr>
       <td>Aayush Sanjay Soni</td>
        <td>Membership Head</td>
        
      </tr>
      <tr>
       <td>Pratim Bikash Hajra</td>
        <td>Membership Head</td>
        
      </tr>
      <tr>
      <td>Pooja Jaydas Upade</td>
        <td>Conference Head</td>
       
      </tr>
      <tr>
      
       <td>Mihir Prashant Kulkarni</td>
         <td>Conference Head</td>
       
      </tr>
      <tr>
       <td>Bhakti Pandurang Patil</td>
        <td>Secretary</td>
        
      </tr>
      <tr>
      <td>Pranita Ganesh Raut</td>
        <td>Finance Head</td>
       
      </tr>
      <tr>
      <td>Hardik Suresh Patel</td>
        <td>Finance Head</td>
       
      </tr>
      <tr>
       <td>Shaili Minesh Patil</td>
        <td>Training And Placement</td>
       
      </tr>
      
      <tr>
       <td>Smit Pratap Jethva</td>
        <td>Technical Head</td>
       
      </tr>
      <tr>  
       <td>Sandesh Pralhad Rathod</td>
         <td>Event Head</td>
       
      </tr>
      <tr>
         <td>Pranav Prashant Gharat</td>
        <td>Event Head</td>
       
      </tr>
     
    </tbody>
  </table>
  </div>
  
</body>


<style>



</style>


<script>
    $("#table").hide()
 
    $(document).ready(function(){
   
    $("button").click(function(){
        $("#table").toggle();
    });
});
  
      if($(window).width() < 767){
      $('col').css("margin-top","25px")
    }
  
</script>


