<% include ./partials/adminheader %>  

      
      
      
      <%events.forEach(function(event){%>
        <div class="col col-lg-12" style="height:50px;text-align:center;margin-top:30px; border:solid 1px #ccc;">
        <a href="/showEventStudents/<%=event._id%>"
                                                                          style="font-family: 'Nunito', sans-serif;
                                                                                 font-size:20px;
                                                                                 
                                                                                 color:blue"><p style="margin-top:10px;">
                                                                                <strong><%=event.EventName%></strong></a> </p></div>
      <%})%>
      

     

  </div>


  <div class="col col-lg-9">
         
  <div class="col col-lg-12" style="border-right:solid 2px #ccc;border-bottom:solid 1px #ccc;background-color:grey">
  <p style="font-size:17px; text-align:center;margin-top:8px;font-weight:bold "><%=event.EventName%> Students</p>
  </div>
    
    <div class="col col-lg-12" style="border-right:solid 2px #ccc;border-bottom:solid 1px #ccc;background-color:lightblue">
  <p style="font-size:17px; text-align:center;margin-top:8px;font-weight:bold ">StudentName</p>
  </div>
 

    
    
    
            
    <%event.RegisteredStudents.forEach(function(member){%>
<div class="col col-lg-12" style="border-right:solid 2px #ccc;border-bottom:solid 1px #ccc">
  <p style="font-size:17px; text-align:center;margin-top:8px; "><%=member.StudentName%></p>
  </div>
 
<%})%>
    
    
    
    
    
    
    
    

      </div>

    
     












  </div>









