<% include ./partials/header %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gulp/3.8.5/gulp.min.js">

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.2.0/ekko-lightbox.js"></script>



  


      <div class="row no-gutters">
        <div class="row no-gutters">
             <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox">
                  <img src="https://unsplash.it/600.jpg?image=252" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="https://images.pexels.com/photos/724381/pexels-photo-724381.jpeg?auto=compress&cs=tinysrgb&h=350" data-toggle="lightbox">
                  <img src="https://images.pexels.com/photos/724381/pexels-photo-724381.jpeg?auto=compress&cs=tinysrgb&h=350" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox">
                  <img src="https://unsplash.it/600.jpg?image=254" alt="" class="img-fluid">
                </a>
              </div>
              <div class="col-md-3">
                <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox">
                  <img src="https://unsplash.it/600.jpg?image=254" alt="" class="img-fluid">
                </a>
              </div>
          
        </div>
    
    
</div>
 

   





  <script>
   
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
  </script>


