<% include ./partials/header %>





<%images.forEach(function(image){%>     
    <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="thumbnail">
          <img src=" <%=image.ImageURL%>">  
        </div>
    </div>
  <% }); %>
    </div>
  
   





